.container {
    background-color: rgb(250, 240, 194);
    margin-left: 20%;
    margin-right: 20%;
    display: flex;
    justify-content: space-between;
}

body {
    background: url('https://i.pinimg.com/originals/e2/18/8e/e2188e1210a9b2e2873b67081fd9e2d5.png') 100% 0%;
    ;
}

.banner {
    background: url('https://i.pinimg.com/originals/64/03/90/6403903167e1d99de390f7dffd923628.jpg') no-repeat 42% 95%;
    width: 100%;
    background-color: rgb(95, 22, 22);
    ;
    margin-right: 11%;
    margin-left: 11%;
    height: 350px;
    border: 5px solid rgb(95, 22, 22);
}

header {
    font-size: 25px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-decoration: underline;
    text-transform: uppercase;
    margin-left: 12%;
}

article {
    margin-left: 13%;
    margin-right: 13%;
    margin-top: 10px;
    padding: 20px;
    border: 2px dashed rgb(95, 22, 22);
    background: rgb(245, 156, 68);
}

article h2 {
    color: rgb(95, 22, 22);
    border-bottom: 3px solid #ffd900;
}

.container:last-child article {
    margin-bottom: 50px;
}

a:hover {
    color: #ffd900;
}